<%= render partial: '/shared/header' %>

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Carpool GE 2018</h1>
  <p class="lead">We help you to carpool for Malaysian GE 2018.</p>
</div>